footer {
    background-color: #202020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #ffffff;
}

.footer2 img {
    margin-top: 50px;
    width: 200px;
    padding: 20px;
}

.img__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img__social img {
    width: 40px;
    margin-top: 0px;
    padding: 7px;
}

.img__social img:hover {
    transition: .5s;
    transform: scale(1.1);
}

.copyright {
    padding: 20px;
}

.icon {
    padding: 20px;
}